.profile__container {
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .profile__container {
    flex-direction: column;
    align-items: center;
  }
}
