.popup__button-submit {
  padding: 0;
  margin: 0 auto;
  border: 0;
  width: 100%;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  min-height: 50px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.21;
  text-align: center;
  transition: opacity .3s ease;
  cursor: pointer;
}

.popup__button-submit:hover {
  opacity: .8;
}

@media screen and (max-width: 720px) {
  .popup__button-submit {
    font-size: 14px;
    min-height: 46px;
  }
}