.profile__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  margin-right: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
