.profile__avatar-button-edit {
  padding: 0;
  border: 0;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: background-color .3s ease;
  outline-style: none;
}

.profile__avatar-button-edit:hover {
  background-image: url(../../../images/profile__avatar-button-edit.svg);
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.8);
}