.popup__input-name {
  min-height: 27px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .popup__input-name {
    min-height: 30px;
  }
}
