.card__button-remove {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 21.76px;
    height: 19.3px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    padding: 0;
    background-image: url(../../../images/photos/photos-button-trash.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: unset;
    transition: opacity .3s ease;
  }
  
  .card__button-remove:hover {
    opacity: 0.6;
  }