.card__heart {
  min-width: 22px;
  height: 19px;
  margin-right: 30px;
  background-image: url(../../../image/HeartOff.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s linear;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.card__heart:hover {
  opacity: 0.6;
}
